body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
header{
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 40px 0;
}
nav ul{
  list-style-type: none;
  padding: 0;
  text-align: center;
}
nav li{
  display: inline;
  margin-right: 20px;
}
nav a{
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
section{
  padding: 40px;
}
.project{
  margin-bottom: 20px;
}
.project img{
  max-width: 100%;
  height: auto;
}
footer{
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}
.ball{
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  animation: bounce 2s infinite;
}
@keyframes bounce{
  0%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-200px);
  }
}
.ball{
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  animation: bounce 2s infinite;
}
@keyframes bounce{
  0%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-200px);
  }
}
.ball{
  width: 50px;
  height: 50px;
  background-color: purple;
  border-radius: 50%;
  position: absolute;
  animation: bounce 2s infinite;
}
@keyframes bounce{
  0%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-200px);
  }
}
.ball{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  animation: bounce 2s infinite;
}
@keyframes bounce{
  0%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-200px);
  }
}
.ball{
  width: 50px;
  height: 50px;
  background-color: brown;
  border-radius: 50%;
  position: absolute;
  animation: bounce 2s infinite;
}
@keyframes bounce{
  0%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-200px);
  }
}
.ball{
  width: 50px;
  height: 50px;
  background-color: burlywood;
  border-radius: 50%;
  position: absolute;
  animation: bounce 2s infinite;
}
